mixin input-toggle(data)
	each item in data
		+b('label')(class=item.inputType)&attributes(attributes)
			+e('input').input(data-modifier=item.modifier, data-js=item.name, type=item.inputType, name=item.name, checked=item.isChecked, disabled=item.isDisabled)
			+e.caption !{item.label}
