mixin slide(item, index)
	+b('div')(class='slide--#{index + 1} --#{item.modifier}')&attributes(attributes)
		+e.container-fluid
			+e.container
				case item.modifier
					when 'promo'
						+e('header').heading !{item.heading}
						+e('span').slogan !{item.slogan}
					when 'info'
						+e('header').heading !{item.heading}
						+e('p').body !{item.body}
						+e('span').date !{item.date}
